{% extends "layout.html" %}

{% block body %}
<h3>Funtionalities</h3>
    <form action="{{ url_for('tweet') }}"  method=post>
      <p>
	Write here:
        <input type=text name=tweetText size=43>
        <input type=submit value="New Tweet">
      </p>
    </form>
    <form action="{{ url_for('deleteTweet') }}"  method=post>
      <p>
	Tweet ID:
        <input type=text name=tweetID size=30>
        <input type=submit value="Delete">
      </p>
    </form>
    <form action="{{ url_for('retweet') }}"  method=post>
      <p>
	Tweet ID:
        <input type=text name=tweetID size=30>
        <input type=submit value="Retweet">
      </p>
    </form>
    <form action="{{ url_for('follow') }}"  method=post>
    <p>
    User ID:
      <input type=text name=userID size=15>
    User name:
      <input type=text name=username size=18>
      <input type=submit value="Follow">
    </p>
  </form>
    <p>
    <br/>
    <h3>Last Recent Tweets</h3>

tweets...
{% endblock %}
