<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!doctype html>
<head>
<title>Cliente Twitter - Pablo PG</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even){background-color: #CBF4F9}
  </style>
</head>
<body>
<h1><img src="static/twitter.png" width="48" height="48" alt="logo uclm"> # Twitter Client</h1>
  {% if user %}
  <a href="{{ url_for('logout') }}"><img src="{{url_for('static', filename='sign-out.png') }}" alt="sign out"></a>
  {% else %}
  <a href="{{ url_for('login') }}"><img src="{{url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
  {% endif %}

  {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <p class=message>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </p>
    {% endif %}
  {% endwith %}

{% block body %}{% endblock %}
<h4>____________________________________________________________________________</h4>
<img src="static/uclm.png" width="300" height="100" alt="logo uclm">
<h4>Pablo Palomino Gomez</h4>
<h4>Aplicaciones Distribuidas en Internet</h4>
<h4>

</h4>
</body>
</html>
